# Ignore post processed trash directory
trashdir/

# Jobfiles with user specific paths
jobfile.job

# If a user forgot to post process before commiting, ignore large garbage output files
*.drh0
*.grho
*.grd0
*.grd
*.h0*
*.h0exc
*.h0nl
*.h0t
*.h0vxc
*.broy0_elec
*.set0
*.vec
*.dh
*.dmat
*.dmats
*.drho
*.drhs
*.emat
*.emats
*.ges*_0
*.s

# Ignore Seqquest Executable (Copyright by Sandia)
seqquest_parallel-20251006T044228Z-1-001.zip
seqquest_parallel_IDPP.zip
seqquest_serial.zip
seqquest_parallel.zip
seqquest_parallel_IDPP
seqquest_parallel
seqquest_serial

#ORCA
orca_6_1_1_linux_x86-64_shared_openmpi418_avx2.tar.xz
orca_6_1_1_linux_x86-64_shared_openmpi418_avx2/

#ORCA
*.gbw
*.tmp
*.densities
*.densitiesinfo
*.opt

#openmpi
openmpi-install/
openmpi-4.1.8
